[submodule "vendor/di"]
	path = vendor/di
	url = https://github.com/boost-experimental/di.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "vendor/boost"]
	path = vendor/boost
	url = git@github.com:boostorg/boost.git
[submodule "vendor/glew"]
	path = vendor/glew
	url = git@github.com:nigels-com/glew.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "vendor/gl3w"]
	path = vendor/gl3w
	url = git@github.com:skaslev/gl3w.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:g-truc/glm.git
